*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5dcc1;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.head{
    display: flex;
    background-color: #0099ff;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

h1{
    color: azure;
    font-family: "Typo Gotika Small Caps Demo";
    font-size: 3em;

}