/*Description font*/
@font-face {
    font-family: "Dast Nevis";
    src: url("fonts/danstevis.ttf") format("truetype") , url("fonts/danstevis.otf") format("opentype");
}
/*font for buttons*/
@font-face {
    font-family: "Cocogoose pro";
    src: url("fonts/button-font.ttf")format("truetype");
}

/*header font*/
@font-face{
    font-family: "Typo Gotika Small Caps Demo";
    src: url("fonts/Typo Gotika Small Caps Demo.otf")format("opentype");
}
/*p font*/
@font-face {
    font-family: "Dirooz-fd";
    src: url("fonts/Dirooz-FD.ttf") format("truetype");
}

/*main Styles*/
*{
    @charset "UTF-8";
    margin: 0;
    padding: 0;
    font-family: "Dirooz-fd" , sans-serif;
    max-width: 100%;
}

body{
    background-color: #e5dcc1;
    margin: 0;
    padding: 0;
    height: 100vh;
}
button {
    padding: 10px 20px;
    background-color: #d2d2d2;
    border: none;
    text-transform: capitalize;
    font-family: "Cocogoose pro","Dast Nevis",sans-serif;
}

button:hover , button:focus{
    opacity: 0.8;
}

h1{
    color: azure;
    font-family: "Typo Gotika Small Caps Demo",sans-serif;
    font-size: 3em;
}

.head{
    display: flex;
    background-color: #0099ff;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

h1{
    color: azure;
    font-family: "Typo Gotika Small Caps Demo",sans-serif;
    font-size: 3em;

}

body {
    background-color: #e5dcc1;
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    width: 100%;
}

.pol{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: block;
}

.corner-rounded{
    border-radius: 20px;
}

.bg-success {
    background-color: rgba(62,210,55,0.8);
}
.bg-none{
    background-color: rgba(73,255,65,0);
}
.bg-white{
    background-color: #ffffff;
}
.bg-blue{
     background-color: #2957ff;
 }
.border-success {
    border: solid 3px rgba(62,210,55,0.8);
}
.text-white{
    color: white;
}


.avatar-image {
    width: 25vw;
    height: 25vw;
    text-align: center;
    border: 1vw white solid;
    border-radius: 50%;
}
.avatar{
    display: inline-flex;
    text-align: center;
}
.area{
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: 10px;
    overflow: auto;
    display: inline-flex !important;
    border-radius: 5px;
    background-color: rgba(73,255,65,0) !important;
}
.container{
    display: inline-flex;
    justify-content: center;
    width: 100vw;
}
.center{
    text-align: center;
}
.centerer{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.part{
    display: flex;
    width: 100vw;
}

.part1{
    height: 500px;
}

.part2{
    background-color: #00ff66;
    height: auto;
    width: 100vw;
}

.part3{
    height: 500px;
}
.job {
    background-color: #0099ff;
    width: 90%;
    height: 90%;
    position: absolute;
}

.back , .next {
    width: 40px;
    height: 40px;
}
.item{
    padding: 1%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    offset-start: inherit;
    display: inline-flex;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid #0cfff0;
}

.part4 {
    position: fixed;
    background-color: rgba(67,64,61,0.6);
    width: 100%;
    z-index: 2;
    overflow: auto;
}
.mainLog {
    background-color: white;
}