/*Description font*/
@font-face {
    font-family: "Dast Nevis";
    src: url("fonts/danstevis.ttf") , url("fonts/danstevis.otf");
}
/*font for buttons*/
@font-face {
    font-family: ;
}

/*main Styles*/
*{
    @charset "UTF-8";
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    background-color: #d2d2d2;
    border: none;
    text-transform: capitalize;
}

button:hover , button:focus{
    opacity: 0.8;
}

.head{
    display: flex;
    background-color: #0099ff;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

h1{
    color: azure;
    font-family: "Typo Gotika Small Caps Demo";
    font-size: 3em;

}

body {
    background-color: #e5dcc1;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.corner-rounded{
    border-radius: 20%;
}

.bg-success {
    background-color: rgba(62,210,55,0.8);
}
.bg-none{
    background-color: rgba(73,255,65,0);
}
.bg-white{
    background-color: #ffffff;
}
.bg-blue{
     background-color: #2957ff;
 }
.border-success {
    border: solid 3px rgba(62,210,55,0.8);
}
.text-white{
    color: white;
}